<% if @posts.any? %>
<div class="row">
    <% @posts.each do |post| %>
    <div id="content" class="col-sm-4">
        <div class="header"><%= image_tag post.blogheader.thumb.url %></div>
        <h2><%= post.title %></h2>
        <p>
            <%= raw(post.content) %>
            <%= link_to '(continue)', 'blogpost/' + post.friendly_id.to_s %>
        </p>
        <p>
          <% time = post.created_at %>
          <%= time.strftime("%A, #{time.day.ordinalize} of %B  %Y") %>
        </p>
    </div>
    <% end %>
</div>
<% else %>
<p>
    There are currently no posts :disappointed:
</p>
<% end %>
