<%= form_for @video do |f| %>
  <%= f.label :ytlink %>
  <%= f.text_field :ytlink %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :description %>
  <%= f.text_area :description %>
  <%= f.submit %>
  <% for category in Category.all %>
    <div class="">
      <%= check_box_tag "video[category_ids][]", category.id, @video.categories.include?(category), { id: dom_id(category, dom_id(@video)) } %>
      <%= category.name %>
    </div>
  <% end %>
<% end %>
