
<% if @videos.any? %>
  <% @videos.each do |video| %>
    <h2><%= video.title %></h2>
    <p><%= video.description %></p>
    <iframe id="ytplayer" type="text/html" width="640" height="390" src="https://www.youtube.com/embed/<%= video.ytlink %>" frameborder="0"></iframe>
    <p> Meta Tags:
      <% if video.categories.any? %>
        <%= video.categories.map(&:name).join(' ') %>
      <% else %>
        Non found
      <% end %>
    </p>
    <p>
        <% time = video.created_at %>
        Video uploaded on <%= time.strftime("%A, #{time.day.ordinalize} of %B  %Y") %>
    </p>
    <p><% if video.deploy %>
        <div class="deployed bg-primary">Deployed</div>
        <% else %>
        <div class="undeployed bg-primary">Undeployed</div>
        <% end %>
    </p>
    <p>
      <%= link_to 'Review', video_path(video) %>
      <%= link_to 'Edit', edit_video_path(video) %>
      <%= link_to 'Remove', video_path(video), method: :delete %>
    </p>
  <% end %>
<% else %>
  <p> Time to upload your first video :D </p>
<% end %>
<a href='<%= new_video_path %>'>Create new video</a>
