<iframe id="ytplayer" type="text/html" width="640" height="390" src="https://www.youtube.com/embed/<%= @video.ytlink %>" frameborder="0"></iframe>
<p><%= @video.title %></p><%= render partial: "deploy_btn" %>
<p><%= @video.description %></p>
<p> Meta Tags:
<% if @video.categories.any? %>
  <%= @video.categories.map(&:name).join(' ') %>
<% else %>
  Non found
<% end %>
</p>
<p>
    <% time = @video.created_at %>
    Video uploaded on <%= time.strftime("%A, #{time.day.ordinalize} of %B  %Y") %>
</p>
