
<% if @posts.any? %>
  <% @posts.each do |post| %>
    <div class="header"><%= image_tag post.blogheader.thumb.url %></div>
    <h2><%= post.title %></h2>
    <p><%= post.content %></p>
    <p> Categories:
    <% if post.categories.any? %>
      <%= post.categories.map(&:name).join(' ') %>
    <% else %>
      Uncategorized
    <% end %>
    </p>
    <p>
      <%= link_to 'Review', post_path(post) %>
      <%= link_to 'Edit', edit_post_path(post) %>
      <%= link_to 'Remove', post_path(post), method: :delete %>
    </p>
  <% end %>
<% else %>
  <p> Time to write your first post :D </p>
<% end %>

<a href='<%= new_post_path %>'>Create new post</a>
