<div class="header"><%= image_tag @post.blogheader.full.url %></div>
<%= @post.title %><%= render partial: "deploy_btn" %>
<p><%= raw(@post.content) %></p>
<p> Categories:
<% if @post.categories.any? %>
  <%= @post.categories.map(&:name).join(' ') %>
<% else %>
  Uncategorized
<% end %>
 </p>
