<div class="header"><%= image_tag @post.blogheader.full.url %></div>
<%= @post.title %><%= render partial: "deploy_btn" %>
<p><%= raw(@post.content) %></p>
<p>
    Subject:
    <% if @post.subjects.any? %>
      <%= @post.subjects.map(&:name).join(' ') %>
    <% else %>
      Unassociated
    <% end %>
</p>
<p>
    Meta Tags:
    <% if @post.categories.any? %>
      <%= @post.categories.map(&:name).join(' ') %>
    <% else %>
      No meta tags found
    <% end %>
</p>
<p>
    <% time = @post.created_at %>
    Post created on <%= time.strftime("%A, #{time.day.ordinalize} of %B  %Y") %>
</p>
