<!DOCTYPE html>
<html>
    <head>
        <%= csrf_meta_tags %>
        <title>DaisykentCom</title>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <body class="admin-body">
        <% if admin_signed_in? %>
        <a href="#menu-toggle" id="menu-toggle">Toggle Menu</a>
        <div id="wrapper">

            <!-- Sidebar -->
            <div id="sidebar-wrapper">
                <ul class="sidebar-nav">
                  <h1 class="sidebar-title">ADMIN</h1>
                  <p>
                    <li><a href="#menu-toggle" id="menu-toggle">Toggle Menu</a></li>
                    <li><%= link_to 'Posts', posts_path %></li>
                    <li><%= link_to 'Videos', videos_path %></li>
                    <li><%= link_to 'Create Post', new_post_path%></li>
                    <li><%= link_to 'Create Video', new_video_path%></li>
                    <li><%= link_to 'Sign Out', destroy_admin_session_path, method: :delete %></li>
                    <li>
                    </li>
                  </p>
                  <h1 class="sidebar-title">BLOG</h1>
                  <p>
                    <li><%= link_to 'Home', home_path %></li>
                    <li><%= link_to 'About', about_path %></li>
                    <li><%= link_to 'Blog', blog_path %></li>
                    <li><%= link_to 'Videos', vlog_path %></li>
                    <li><%= link_to 'Contact', contact_path %></li>
                    <li><%= link_to 'Portfolio', portfolio_path %></li>
                  </p>
                </ul>
            </div>
            <% end %>
            <div class="container d-flex justify-content-between">
                <div class="row">
                    <p class="notice"><%= notice %></p>
                    <p class="alert"><%= alert %></p>
                    <%= yield %>
                </div>
            </div>
            <%= javascript_include_tag 'admin_menu' %>
        </body>
    </html>
