<!DOCTYPE html>
<html>
    <head>
      <%= csrf_meta_tags %>
      <% if content_for?(:head) %>
        <%= yield(:head) %>
      <% else %>
        <title>DaisyKent.Com</title>
      <% end %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <body>
        <section class="jumbotron text-center">
            <div class="container">
                <h1 class="jumbotron-heading">
                    <a href="#">Daisy Kent</a>
                </h1>
            </div>
        </section>
        <%= notice %>
        <div class="navbar navbar-inverse bg-inverse text-center">
            <div class="container d-flex justify-content-between">
                <div class="row">
                    <div id="content" class="">
                        <%= link_to 'Home', home_path %>
                        <%= link_to 'About', about_path %>
                        <%= link_to 'Blog', blog_path %>
                        <%= link_to 'Videos', vlog_path %>
                        <%= link_to 'Contact', contact_path %>
                        <%= link_to 'Portfolio', portfolio_path %>
                    </div>
                </div>
                <% if params[:action] == "blog" || params[:action] == "vlog" %>
                <div class="row">
                    <div id="content" class="">
                        <%= link_to 'Lifestyle', controller: "main", action: params[:action], subject: "Lifestyle" %>
                        <%= link_to 'Food', controller: "main", action: params[:action], subject: "Food"%>
                        <%= link_to 'Health', controller: "main", action: params[:action], subject: "Health"%>
                        <%= link_to 'Fasion', controller: "main", action: params[:action], subject: "Fasion"%>
                    </div>
                </div>
                <% end %>
            </div>
        </div>

        <% if Rails.env.development? %>
          <% console %>
        <% end %>

        <div class="row">
            <div class="container">
                <%= yield %>
            </div>
        </div>
    </body>
</html>
